# Ignore the library directory
library/

# Ignore the SQLite database and its associated files
library.sqlite
library_temp.sqlite
library.sqlite-shm
library.sqlite-wal
library.db
library_temp.sqlite-shm
library_temp.sqlite-walchat_api/.env

# ignore Python runtime artefacts
chat_api/.env
chat_api/venv/
chat_api/__pycache__/

.env

chat_api/narratives_data.db
chat_api/narratives.json