# Ignore the library directory
library/

# Ignore the SQLite database and its associated files
library.sqlite
library_temp.sqlite
library.sqlite-shm
library.sqlite-wal
library.db
library_temp.sqlite-shm
library_temp.sqlite-wal